wsgen/src/main/resources/wsdl/MyServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="org.uli.wsgen" name="MyServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="org.uli.wsgen" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="org.uli.wsgen" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="basicService" type="tns:basicService"/>

      <xs:element name="basicServiceResponse" type="tns:basicServiceResponse"/>

      <xs:element name="extendedService" type="tns:extendedService"/>

      <xs:element name="extendedServiceResponse" type="tns:extendedServiceResponse"/>

      <xs:complexType name="extendedService">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="extendedServiceResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:extendedResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="extendedResult">
        <xs:complexContent>
          <xs:extension base="tns:basicResult">
            <xs:sequence>
              <xs:element name="handle" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="basicResult">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="returnCode" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="basicService">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="basicServiceResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:basicResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="extendedService">
    <part name="parameters" element="tns:extendedService"/>
  </message>
  <message name="extendedServiceResponse">
    <part name="parameters" element="tns:extendedServiceResponse"/>
  </message>
  <message name="basicService">
    <part name="parameters" element="tns:basicService"/>
  </message>
  <message name="basicServiceResponse">
    <part name="parameters" element="tns:basicServiceResponse"/>
  </message>
  <portType name="MyService">
    <operation name="extendedService">
      <input wsam:Action="org.uli.wsgen/MyService/extendedServiceRequest" message="tns:extendedService"/>
      <output wsam:Action="org.uli.wsgen/MyService/extendedServiceResponse" message="tns:extendedServiceResponse"/>
    </operation>
    <operation name="basicService">
      <input wsam:Action="org.uli.wsgen/MyService/basicServiceRequest" message="tns:basicService"/>
      <output wsam:Action="org.uli.wsgen/MyService/basicServiceResponse" message="tns:basicServiceResponse"/>
    </operation>
  </portType>
  <binding name="MyServicePortBinding" type="tns:MyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="extendedService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="basicService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MyServiceService">
    <port name="MyServicePort" binding="tns:MyServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

